* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

@font-face {
    font-family: 'Las Americas';
    src: url(LasAmericas_PERSONAL_USE_ONLY.otf);
}

@font-face {
  font-family: 'Callingstone';
  src: url(Callingstone\ -\ Personal\ Use\ Only.ttf);
}
  

  body {
    background: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: 'Merry';
    src: url(Merry\ Cost.otf);
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-family: 'Merry';
    font-size: 20pt;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  
  .header {
    background-image: url('barberia-estilo-industrial.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
    height: 590px;
    font-size: 50px;
    font-family: 'Las Americas';
    
  }
  
  
  
  .row{
    display: flex;
  }

  .col-md-6{
    width:50%;
  }

  

  .h1 {
    text-shadow: 1px  0px 0px rgb(255, 255, 255),
               0px  1px 0px rgb(255, 255, 255),
              -1px  0px 0px rgb(255, 255, 255),
               0px -1px 0px rgb(255, 255, 255);
      padding: 65px;
  }


  .logoheader {
    display: flex;
  }


  section {
    padding: 20px;
}
.container {
  width: 80%;
  margin: 50px auto;
}

.story {
  display: flex;
  margin-bottom: 50px;
}

.image {
  flex: 1;
  margin-right: 20px;
}

.image img {
  width: 500%;
  height: auto;
}

.content {
  flex: 2;
}

h2 {
  color: #333;
}

p {
  color: #ec7676;
}

.p {
text-shadow:  1px  0px 0px rgb(255, 255, 255),
               0px  1px 0px rgb(255, 255, 255),
              -1px  0px 0px rgb(255, 255, 255),
               0px -1px 0px rgb(255, 255, 255);

}

/* Animación */
.animated {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

#servicios {
  background-color: #000000;
  text-align: center;
  
}

@font-face {
  font-family: 'Lemonmilk';
    src: url(LEMONMILK-Bold.otf);
}

.centro {
  
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(247, 250, 249);
    font-size: 82px;
    font-family: 'Lemonmilk';
}

.about {
  padding-top: 25px;
  padding-bottom: 50px;
}

.si {
  color: #000;
  font-family: 'Vogue';
  font-size: medium;
}

.services {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.container_servicios {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.services h2 {
  text-align: center;
  margin-bottom: 30px;
}

.service {
  text-align: center;
  margin-bottom: 30px;
}

.service img {
  max-width: 500px;
  margin-bottom: 20px;
  max-height: 500px;
}

.service h3 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  font-family: 'Vogue';
  color: #ffffff;
  
}

.service p {
  font-size: 1rem;
  color: #f0602c;
  font-family: 'Callingstone';
}







.container2 {
  width: 50%;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.container2 h2 {
  font-family: "Lemonmilk";
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#Contactenos {
  background-color: #ffffff;
}

.input-group {
  font-family: 'Vogue';
  font-size: xx-large;
}

.contenedor {
border-top: 3cm;

}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
  font-family: 'Callingstone';
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

h2{
  font-family: 'Lemonmilk';
  font-size: 300%;
  color: #1c6fd5;
}

@font-face {
  font-family: 'Vogue';
  src: url(Vogue.ttf);
}


h4 {
  font-family: 'Vogue';
  font-size: 100%;
  color: #000;
}


#Galeria {
  background-color: #000000;
}

.titulo {
  padding: 14px 16px;
    text-decoration: none;
    color: rgb(252, 252, 252);
    font-size: 82px;
    font-family: 'Lemonmilk';
    padding-left: 35%;
} 
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.image {
  overflow: hidden;
}

.image img {
  width: 280%;
  height: 200;
}





.productos {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
}

.producto {
    margin-bottom: 30px;
}

.producto img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.producto p {
    margin-bottom: 10px;
}

.precio {
    font-weight: bold;
    color: #2C1BB2;
    font-size: 1.2em;
}







#map {
  height: 400px;
  width: 100%;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #000000;
}

@font-face {
  font-family: 'DIN' ;
  src: url(DIN\ Neuzeit\ Grotesk\ Light.ttf);
}
.footer h2 {
font-family: 'DIN';
color: #ffffff;
font-size: 15px;
}
